@page "/Base/New"
@using NotAnotherBasePlanner.Data
@inject PlanetService _planetService
<AuthorizeView>
    <Authorized>
        @if (selectedPlanet == null)
        {
            <h3>New Base</h3>
            <h4>Select a planet:</h4>

            <form @onsubmit="SearchPlanets">
                <input type="text" @bind="planetSearchString" placeholder="Planet designation or display name"/>
                <button type="submit">Search</button>
            </form>

            if (planets == null || planets.Length == 0)
            {
                <p>No planets found</p>
            }
            else
            {
                <table>
                    @foreach (var planet in planets)
                    {
                        <tr>
                            <td>@planet.Designation | @planet.DisplayName</td>
                            <td>
                                <button @onclick="@(() => SelectPlanet(planet))">Select</button>
                            </td>
                        </tr>
                    }
                </table>
            }
        }
        else
        {
            <BaseDesigner planet="@selectedPlanet" Create="true"/>
        }
    </Authorized>
    <NotAuthorized>
        <NavLink href="Identity/Account/Login" class="nav-link">Login</NavLink>
    </NotAuthorized>
</AuthorizeView>
@code {
    public string? planetSearchString { get; set; }
    public Planet? selectedPlanet { get; set; }
    public Planet[] planets { get; set; }

    public void SearchPlanets()
    {
        planets = _planetService.GetPlanetsLikeDesignationOrDisplayName(planetSearchString);
    }

    public void SelectPlanet(Planet planet)
    {
        selectedPlanet = planet;
    }

}