@page "/"

<PageTitle>NABP</PageTitle>

<h1>Not Another Base Planner</h1>

<p>NABP <del>is</del> will soon be a whole collection of tools to plan your economic empire in Prosperous Universe.
    Right
    now, it's a search tool for market maker products and a really poor supply chain visualizer.</p>

<p>This application is currently under development by Pryde, of Pryde Industrial Technologies. If you'd like to support
    development, consider reaching out in-game to schedule a PE purchase.</p>

<p>NABP is open-source, view the code <a href="https://github.com/pryde/NotAnotherBasePlanner">here.</a></p>

<h3>Roadmap</h3>
<div class="card-group">
    <div class="card col-sm-12 col-md-6">
        <div class="card-body">
            <h5 class="card-title">Base Planning | In Development</h5>
            <hr/>
            Full-featured, PRUNner-like base planning is currently in development. Release is planned for Aug. 2022. <br/>
            Key features will include:
            <ol>
                <li>Automatic calculation of recipe allocation for production recipes</li>
                <li>Calculation of daily inputs and outputs</li>
                <li>Base plans shareable via url, allowing for collaborative base design slightly more easily than existing tools</li>
            </ol>
        </div>
    </div>
    <div class="card col-sm-12 col-md-6">
        <div class="card-body">
            <h5 class="card-title">Corporate Features | Planned</h5>
            <hr/>
            A couple of tools are in the planning stage to assist with both the day-to-day operations of a corporation, as well as managing larger projects.
            <ol>
                <li>Corporate market pages: an editable list of corp members' outputs and minimum sell price.</li>
                <li>Corporate supply chain planning: Create a supply chain for some target product(s) and assign corp members to intermediate production; hopefully useful for both 
                    corporate projects and shipyards.</li>
            </ol>
        </div>
    </div>
</div>