@using NotAnotherBasePlanner.Data
@if (recipeNode is not null)
{
    var title = string.Join(',', recipeNode.Recipe.Outputs);

    <Collapsible Collapsed=true Title=@title>
        <h5>Building: </h5>@recipeNode.Recipe.BuildingTicker
        <h5>Recipe: </h5>@recipeNode.Recipe.RecipeName
        <h5>Inputs:</h5>
        @foreach (var child in recipeNode.Children)
        {
            <SupplyChain recipeNode=child depth=depth+1/>
        }
    </Collapsible>
}

@code {

    [Parameter]
    public RecipeNode recipeNode { get; set; }

    [Parameter]
    public int depth { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

}