@inject NavigationManager Navigation
@inject TokenProvider TokenProvider

<AuthorizeView>
    <Authorized>
        <form action="/Identity/Account/Logout?returnUrl=%2F" method="post" class="form-inline" style="margin:0">
            <button class="nav-link btn btn-link" type="submit">Logout</button>
            <input name="__RequestVerificationToken" type="hidden" value="@TokenProvider.XsrfToken">
        </form>
    </Authorized>
    <NotAuthorized>
        <NavLink href="Identity/Account/Login" class="nav-link">Login</NavLink>
    </NotAuthorized>
</AuthorizeView>